<% content_for :body do %>
  <ul id="categories">
    <% @categories.each do |category| %>
      <li>
        <%= link_to category.title, refinery.products_category_path(category) %>
      </li>
    <% end %>
  </ul>

  <%= link_to t('.back_to'), refinery.products_root_path %>
<% end %>

<%= render '/refinery/content_page' %>
