<% content_for :body_content_title do %>
  <%= @category.title %>
<% end %>

<% content_for :body do %>
  <section>
    <% if @products.any? %>
      <ul id="products">
        <%= render :partial => '/refinery/products/shared/product', :collection => @products %>
      </ul>
    <% else %>
      <p>
        <strong>
          <%= t('.no_items_yet') %>
        </strong>
      </p>
    <% end %>
  </section>
<% end %>

<%= render '/refinery/content_page' %>