<% content_for :body do %>
  <ul id="products">
    <%= render :partial => '/refinery/products/shared/product', :collection => @products %>
  </ul>
<% end %>

<% content_for :side_body do %>
  <ul id="categories">
    <% @products_categories.each do |category| %>
      <li>
        <%= link_to category.title, refinery.products_category_path(category) %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render '/refinery/content_page' %>
